#carousel {
   height: 92vh;
   padding: 1rem 2rem;
   position: relative;
   z-index: 1;

   & #ornament-design {
      position: absolute;
      right: 0;
      top: 1rem;
   }

   & .slick-slider {
      & .slick-track {
         & #slide1,
         #slide2,
         #slide3 {
            display: flex;
            flex-direction: column;
            height: 82vh;

            & .content-slide {
               display: flex;
               height: 60%;
               flex-direction: column;
               padding: 1rem 0;
               justify-content: space-around;
               align-items: center;

               & .p-offers {
                  color: var(--primary);
                  font-weight: 700;
                  margin-bottom: 2rem;
                  letter-spacing: 0.75px;
               }

               & h2 {
                  text-transform: capitalize;
                  font-size: 2.7rem;
                  width: 90%;
                  font-weight: 800;
                  text-align: center;
                  color: var(--dark-gray);
                  margin-bottom: 2rem;
                  line-height: 50px;
                  letter-spacing: 1px;
               }

               & p {
                  text-align: center;
                  color: var(--dark-gray-2);
                  letter-spacing: 0.75px;
                  margin-bottom: 4rem;
                  font-weight: 500;
               }

               & button {
                  width: 90% !important;
                  letter-spacing: 0.75px;
               }
            }

            & #image1,
            #image2,
            #image3 {
               height: 40%;
               padding: 2rem;
               background-repeat: no-repeat;
               background-size: contain;
               background-position: center;
            }

            & #image1 {
               background-image: url("../../../public/assets/slide1.png");
            }
            & #image2 {
               background-image: url("../../../public/assets/slide2.webp");
            }
            & #image3 {
               background-image: url("../../../public/assets/slide3.webp");
            }
         }
      }

      & .slick-dots {
         padding-top: 1rem;
         background-color: var(--light-gray-3);
         & li {
            & button {
               width: 15px;
               height: 15px;
               border-radius: 50%;
               background-color: var(--light-gray-2);
               position: relative;

               &:before {
                  content: "";
               }
            }

            &.slick-active button {
               background-color: var(--primary); 
            }
         }
      }
   }
}

@media (min-width: 850px) {
   #carousel {
      height: fit-content;

      & #ornament-design {
         position: absolute;
         top: 1rem;
      }

      & .slick-slider {
         & .slick-slide {
            display: flex !important;
         }

         & .slick-track {
            & #slide1,
            #slide2,
            #slide3 {
               height: calc(90vh - 135px);
               width: calc(100vw - 1rem) !important;
               display: flex !important;
               flex-direction: row-reverse;
               justify-content: space-between;
               align-items: center;

               & .content-slide {
                  width: 50%;
                  padding: 0;
                  justify-content: center;
                  align-items: flex-start;
                  gap: 1rem;
                  height: 80%;

                  & .p-offers {
                     color: var(--warning);
                  }

                  & h2 {
                     font-size: 64px;
                     width: 100%;
                     text-align: left;
                     color: var(--dark-gray);
                     line-height: 70px;
                     margin: 0;
                  }

                  & p {
                     text-align: left;
                  }

                  & button {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: fit-content !important;
                     padding: 1.5rem 5rem;
                  }
               }

               & #image1,
               #image2,
               #image3 {
                  width: 60%;
                  height: 100%;
                  background-size: 80%;
               }

               & #image1 {
                  background-size: 70%;
               }
            }
         }
      }
   }
}

@media (min-width: 1444px) {
   #carousel {
      & .slick-slider {
         & .slick-track {
            & #slide1,
            #slide2,
            #slide3 {
               width: calc(1444px - 1rem) !important;
            }
         }
      }
   }
}
