/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables */
:root {
   --primary: #c92071;
   --secondary: #b5b6f2;
   --tertiary: #991956;
   --error: #ee4266;
   --success: #52ca76;
   --warning: #f6aa1c;
   /* Grayscale */
   --dark-gray: #1f1f1f;
   --dark-gray-2: #474747;
   --dark-gray-3: #666666;
   --light-gray: #8f8f8f;
   --light-gray-2: #cccccc;
   --light-gray-3: #f5f5f5;
   --white: #ffffff;
}

/* Reset */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   font-family: "Inter", sans-serif;
   text-decoration: none;
   list-style: none;
}

body {
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
   background: var(--white);
   display: flex;
   flex-direction: column;
   align-items: center;
}

#root {
   width: 100%;
   font-size: 14px;
}
